[submodule "Libraries/Pentagonal"]
	path = Libraries/Pentagonal
	url = https://github.com/0xFireball/Pentagonal.git
[submodule "src/Libraries/Pentagonal"]
	path = src/Libraries/Pentagonal
	url = https://github.com/0xFireball/Pentagonal.git
